# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

jobs:
- job: Linux
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '8.0.x'
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '9.0.x'
  - script: dotnet build ./Scrutor.AspNetCore.sln
    displayName: 'dotnet build'
  - script: dotnet test ./Scrutor.AspNetCore.sln
    displayName: 'run tests'
  - task: PublishTestResults@2
    displayName: 'Publish Test Results **/*.trx'
    condition: succeededOrFailed()
    inputs:
      testResultsFormat: VSTest
      testResultsFiles: '**/*.trx'

- job: macOS
  pool:
    vmImage: 'macOS-latest'
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '8.0.x'
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '9.0.x'
  - script: dotnet build ./Scrutor.AspNetCore.sln
    displayName: 'dotnet build'
  - script: dotnet test ./Scrutor.AspNetCore.sln
    displayName: 'run tests'
  - task: PublishTestResults@2
    displayName: 'Publish Test Results **/*.trx'
    condition: succeededOrFailed()
    inputs:
      testResultsFormat: VSTest
      testResultsFiles: '**/*.trx'

- job: Windows
  pool:
    vmImage: 'windows-latest'
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '8.0.x'
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '9.0.x'
  - script: dotnet build ./Scrutor.AspNetCore.sln
    displayName: 'dotnet build'
  - script: dotnet test ./Scrutor.AspNetCore.sln
    displayName: 'run tests'
  - task: PublishTestResults@2
    displayName: 'Publish Test Results **/*.trx'
    condition: succeededOrFailed()
    inputs:
      testResultsFormat: VSTest
      testResultsFiles: '**/*.trx'
